
.DS_Store
.emacs.el~
.venv
/filezilla
/filezilla*
\#*\#
__pycache__
btop/
dlv
emacs/var/
fontconfig
git/
lazygit/
mole/
node_modules
pip/
tests/
/emacs
ty
/cagent
/texstudio
/mozilla
*~
autorandr
fcitx5
Thunar
xfce4
pulse
